node_modules/
dist/
*.log
.env
.env.local
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/prisma/test/
apps/api/generated/
.DS_Store
coverage/
apps/api/prisma/*.db-wal
apps/api/prisma/*.db-shm
